
  .video-stream h1{
    display: inline-block;
    position: relative;
    left: 44%;
 
  }
  
  .video-container img{
    height: 30%;
    width: 30%
  }
  .video-container{
    border: 1px solid black;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


  }

  .video-container .video1{
   margin: 1%;
    width: 66vw;
    height: 48vh;
  }

  .video-container .video2{
    margin: 1%;
    width: 66vw;
    height: 48vh;
  }
  .btn {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 17%;
    top: 7%;
    left: 5%;
  }
  
  .btn:hover {
    background-color: #333; /* Darken the background color on hover */
  }
  .captured-images {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .captured-images h1 {
   text-align: center;
  }
  
  .captured-images1 h1{
    text-align: center;
  }
  .captured-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .captured-image {
    border: 1px solid #ccc;
    padding: 10px;
  }
  .captured-image img {
    max-width: 200px; 
    max-height: 150px; 
    width: auto;
    height: auto;
  }
  
  .captured-images1 {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .captured-images-grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .captured-image1 {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .captured-image1 img {
    max-width: 200px; 
    max-height: 150px; 
    width: auto;
    height: auto;
  }
  